* {
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace;
    background-color: darksalmon;
}

ul {
    list-style-type: none;
}

html {
    height: 100%;
}
body {
    outline: 4px solid lime;
    margin: 0;
    padding: 0;
    height: 100%;
    float: left;
}

img {
    width: 35vh;
    margin: 0;
    padding: 0;
    background:#ffff;
    overflow: hidden;
}

.thumb a img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 200ms ease;
    transition: 200ms ease;
}

.thumb a:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}