* {
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: darksalmon;
}

ul {
    list-style-type: none;
}

.voum-page {
    display:flex;
    flex-direction: column;
    width:100%;
    height: 80vh;
    margin: 0;
    /* outline:2px red solid; */
    background-color: lightgray;
}
.light-box {
    margin: auto;
    vertical-align: middle;
    justify-content: center;
    padding: 15vh;
    background-color:white;
    border-radius: 5vh;
    box-shadow: 0 0.5rem 0.5rem hsla(0, 0%, 0%, 20%);
}

.dark-box {
    padding: 5vh 10vh;
    /* outline:2px purple solid;
     */
    border-radius: 5vh;
    background-color: hsl(270, 3%, 16%);
}
.cta {
    width:60%;

}
h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 55px;
    color: white
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    line-height: 1rem;
    color:white;
}