/*  BASIC PAGE CONSISTENCY*/
ul {
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace;
    background-color: darksalmon;
    list-style-type: none;
}

.reference {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

@font-face {
    font-family: RedHatDisplay;
    src: url(assets/RedHatDisplay-Regular.woff2) format("woff2"), url(/assets/fonts/redhatdisplay/RedHatDisplay-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: RedHatDisplay;
    src: url(assets/RedHatDisplay-Italic.woff2) format("woff2"), url(/assets/fonts/redhatdisplay/RedHatDisplay-Italic.woff) format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: RedHatDisplay;
    src: url(assets/RedHatDisplay-MediumItalic.woff2) format("woff2"), url(/assets/fonts/redhatdisplay/RedHatDisplay-MediumItalic.woff) format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: RedHatDisplay;
    src: url(assets/RedHatDisplay-Medium.woff2) format("woff2"), url(/assets/fonts/redhatdisplay/RedHatDisplay-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
    background-color: darksalmon;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    margin: 0;
}

img {
    border-style: none;
    vertical-align: middle;
}

html {
    height: 100%;
    margin: 0;
}

body {
    float:left;
    width: 100%;
    outline: 4px solid lime;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #efeef0;
    color: #21212f;
    font-family: RedHatDisplay, sans-serif;
    font-size: 16px;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
    -webkit-tap-highlight-color: transparent;
}

a:focus, a:hover {
    color: inherit;
    text-decoration: none;
}

h2, p {
    margin: 0;
    padding: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
    letter-spacing: inherit
}

.vm-feature-container {
    padding: 0;
}

@media (min-width:768px) {
    .vm-feature-container {
        padding: 0 20px;
    }
}

@media (min-width:1024px) {
    .vm-feature-container {
        max-width: 1024px;
        margin: 0 auto
    }
}

@media (min-width:1200px) {
    .vm-feature-container {
        padding: 0 40px;
        max-width: 1200px
    }
}

@media (min-width:1600px) {
    .vm-feature-container {
        padding: 0 120px;
        max-width: 1600px
    }
}

.vm-modal_box.-visible .vm-modal_box-close {
    opacity: 1
}

.vm-modal_box-dialog {
    width: 100%;
    transform: scale(.9);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    opacity: 0;
    background: #fff;
    transition: opacity .4s, transform .4s
}

@media (min-width:768px) {
    .vm-modal_box-dialog {
        width: 610px;
        min-height: 530px;
        height: 80vh
    }
}

@media (min-width:1024px) {
    .vm-modal_box-dialog {
        width: 645px
    }
}

@media (min-width:1200px) {
    .vm-modal_box-dialog {
        width: 695px
    }
}

@media (min-width:1600px) {
    .vm-modal_box-dialog {
        width: 792px
    }
}

.vm-modal_box-dialog::-webkit-scrollbar {
    display: none
}

.vm-modal_box.-visible .vm-modal_box-dialog {
    opacity: 1;
    transform: translateX(0)
}

.vm-modal_box-content {
    padding: 0
}

.vm-modal_box-container {
    padding: 0 40px
}

@media (min-width:768px) {
    .vm-modal_box-container {
        padding: 0 50px
    }
}

.vm-footer {
    position: relative
}

.vm-footer-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #21212f;
    border-radius: 40px 40px 0 0
}

@media (min-width:768px) {
    .vm-footer-bg {
        left: calc(50vw - 50% + 20px);
        width: calc(100% - 40px);
        border-radius: 60px 60px 0 0
    }
}

@media (min-width:1024px) {
    .vm-footer-bg {
        left: calc(50vw - 492px);
        width: 984px
    }
}

@media (min-width:1200px) {
    .vm-footer-bg {
        left: calc(50vw - 560px);
        width: 1120px
    }
}

@media (min-width:1600px) {
    .vm-footer-bg {
        left: calc(50vw - 680px);
        width: 1360px
    }
}

.vm-footer-grid {
    position: relative;
    padding: 60px 40px
}

@media (min-width:768px) {
    .vm-footer-grid {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 0;
        padding: 60px 60px 0
    }
}

@media (min-width:1024px) {
    .vm-footer-grid {
        padding: 80px 60px 0
    }
}

@media (min-width:1200px) {
    .vm-footer-grid {
        min-height: 256px;
        padding: 80px 80px 0
    }
}

@media (min-width:1600px) {
    .vm-footer-grid {
        min-height: 340px;
        padding: 80px 80px 0
    }
}

@media (min-width:768px) {
    .vm-footer-col.-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end
    }
}

@media (min-width:768px) {
    .vm-footer-col.-bottom {
        white-space: nowrap
    }
}

.vm-footer-logo {
    position: relative;
    display: block;
    width: 193px;
    height: 40px;
    margin: 0 auto 60px
}

@media (min-width:768px) {
    .vm-footer-logo {
        margin: 0 0 60px
    }
}

@media (min-width:1600px) {
    .vm-footer-logo {
        width: 241px;
        height: 50px;
        margin: 0 0 53px
    }
}

.vm-footer-logo img {
    width: 100%;
    height: 100%;
    -o-object-position: center;
    object-position: center;
    -o-object-fit: contain;
    object-fit: contain
}

.vm-footer-socials {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 60px
}

@media (min-width:768px) {
    .vm-footer-socials {
        justify-content: flex-start;
        margin: 0
    }
}

.vm-footer-social {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 0 24px 0 0;
    vertical-align: middle
}

.vm-footer-social:last-child {
    margin: 0
}

.vm-footer-social span {
    display: inline-flex;
    align-items: center;
    justify-content: center
}

.vm-footer-social svg {
    font-size: 20px;
    color: #fff;
    vertical-align: middle;
    transition: color .8s
}

.vm-footer-social:focus svg, .vm-footer-social:hover svg {
    color: #cdf348
}

.vm-footer-title {
    width: 240px;
    margin: 0 auto 16px
}

@media (min-width:768px) {
    .vm-footer-title {
        width: 292px;
        margin: 0 0 16px
    }
}

@media (min-width:1024px) {
    .vm-footer-title {
        width: 346px
    }
}

@media (min-width:1200px) {
    .vm-footer-title {
        width: 386px
    }
}

@media (min-width:1600px) {
    .vm-footer-title {
        width: 486px
    }
}

.vm-footer-title h3 {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    text-align: center
}

@media (min-width:768px) {
    .vm-footer-title h3 {
        font-size: 32px;
        text-align: left
    }
}

@media (min-width:1600px) {
    .vm-footer-title h3 {
        font-size: 44px
    }
}

.vm-footer-text {
    width: 240px;
    margin: 0 auto 24px
}

@media (min-width:768px) {
    .vm-footer-text {
        width: 292px;
        margin: 0 0 24px
    }
}

@media (min-width:1024px) {
    .vm-footer-text {
        width: 346px
    }
}

@media (min-width:1200px) {
    .vm-footer-text {
        width: 386px
    }
}

@media (min-width:1600px) {
    .vm-footer-text {
        width: 486px
    }
}

.vm-footer-text p {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center
}

@media (min-width:768px) {
    .vm-footer-text p {
        text-align: left
    }
}

@media (min-width:1600px) {
    .vm-footer-text p {
        font-size: 24px
    }
}

.vm-footer-action {
    text-align: center
}

@media (min-width:768px) {
    .vm-footer-action {
        width: 292px;
        text-align: left
    }
}

@media (min-width:1024px) {
    .vm-footer-action {
        width: 346px
    }
}

@media (min-width:1200px) {
    .vm-footer-action {
        width: 386px
    }
}

@media (min-width:1600px) {
    .vm-footer-action {
        width: 486px
    }
}

.vm-footer-copy {
    position: relative;
    display: block;
    padding: 0 0 60px;
    margin: auto;
    list-style-type: none;
    text-align: center;
    font-weight: 400;
    line-height: 165%
}

@media (min-width:768px) {
    .vm-footer-copy {
        width: 375px;
        padding: 0 0 40px 60px;
        margin: -35px 0 0;
        text-align: left
    }
}

@media (min-width:1024px) {
    .vm-footer-copy {
        width: 550px;
        padding: 20px 0 52px 60px
    }
}

@media (min-width:1200px) {
    .vm-footer-copy {
        padding: 20px 0 60px 80px
    }
}

@media (min-width:1600px) {
    .vm-footer-copy {
        width: 740px;
        padding: 0 0 80px 80px;
        margin: -69px 0 0;
        pointer-events: none
    }
}

.vm-footer-copyright {
    display: block;
    margin: 0 0 16px;
    color: rgba(255, 255, 255, .5)
}

@media (min-width:768px) {
    .vm-footer-copyright {
        margin: 16px 0 0 0
    }
}

.vm-footer-link {
    display: block;
    margin: 0 0 16px;
    pointer-events: auto;
    text-align: center
}

@media (min-width:768px) {
    .vm-footer-link {
        display: inline-block;
        margin: 14px 20px 0 0;
        text-align: left;
        font-size: 14px
    }
}

@media (min-width:1024px) {
    .vm-footer-link {
        font-size: 16px
    }
}

@media (min-width:1600px) {
    .vm-footer-link {
        margin: 0 40px 0 0
    }
}

.vm-cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 250;
    contain: layout style size;
    pointer-events: none;
    transition: opacity .3s, color .4s
}

.vm-cursor:before {
    content: "";
    position: absolute;
    top: -24px;
    left: -24px;
    display: block;
    width: 48px;
    height: 48px;
    transform: scale(.5);
    background: currentColor;
    border-radius: 50%;
    transition: transform .25s ease-in-out, opacity .1s
}

.vm-cursor.-inverse {
    color: #deded0
}

@supports (mix-blend-mode:exclusion) {
    .vm-cursor.-exclusion {
        mix-blend-mode: exclusion
    }

    .vm-cursor.-exclusion:before {
        background: #deded0
    }
}

.vm-cursor.-pointer {
    mix-blend-mode: difference
}

.vm-cursor.-pointer:before {
    transform: scale(0)
}

.vm-cursor.-tag {
    mix-blend-mode: difference
}

.vm-cursor.-tag:before {
    background: #fff;
    transform: scale(1.5)
}

.vm-cursor.-text:before {
    opacity: .85;
    transform: scale(1.7)
}

.vm-cursor.-text.-active:before {
    transform: scale(1.6);
    transition-duration: .2s
}

.vm-cursor.-icon:before {
    transform: scale(1.5)
}

.vm-cursor.-icon.-active:before {
    transform: scale(1.4)
}

.vm-cursor.-hidden:before {
    transform: scale(0)
}

.vm-cursor-text {
    position: absolute;
    top: -18px;
    left: -18px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0) rotate(10deg);
    opacity: 0;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    transition: opacity .4s, transform .3s
}

.vm-cursor.-icon .vm-cursor-text, .vm-cursor.-text .vm-cursor-text {
    opacity: 1;
    transform: scale(1)
}

.vm-cursor-media {
    position: absolute;
    width: 400px;
    height: 400px;
    margin: -200px 0 0 -200px
}

.vm-cursor-media img, .vm-cursor-media video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%
}

@supports ((-o-object-fit:cover) or (object-fit:cover)) {
    .vm-cursor-media img, .vm-cursor-media video {
        position: static;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        transform: translateZ(0)
    }
}

.vm-cursor-media-box {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: scale(0) translateZ(0);
    padding: 1px;
    opacity: 0;
    border-radius: 50%;
    transition: transform .35s, opacity .2s .2s
}

.vm-cursor.-media .vm-cursor-media-box {
    opacity: 1;
    transform: scale(.696);
    transition-duration: .4s, .4s;
    transition-delay: 0s, 0s
}

.vm-alert {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
    background: #21212f;
    transform: translateY(100%);
    transition: transform ease-out .4s
}

.vm-alert.-visible {
    transform: translateY(0)
}

.vm-alert-content {
    padding: 0 20px
}

.vm-alert-header h2 {
    color: #a6a6ac;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%
}

@media (min-width:768px) {
    .vm-alert-header h2 {
        font-size: 14px
    }
}

.vm-alert-header a {
    position: relative;
    color: #fff;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 100% 1px, 0 1px;
    background-position: 0 100%, 100% 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: background-size .4s
}

.vm-alert-header a:focus, .vm-alert-header a:hover {
    background-size: 0 1px, 100% 1px;
    background-position: 100% 100%, 0 100%
}

.vm-alert-grid {
    padding: 20px 0
}

@media (min-width:1024px) {
    .vm-alert-grid {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0
    }
}

.vm-alert-grid-col {
    position: relative
}

.vm-alert-grid-col.-left {
    margin: 0 0 24px
}

@media (min-width:1024px) {
    .vm-alert-grid-col.-left {
        width: 65%;
        flex: 1 0 65%;
        margin: 0
    }
}

@media (min-width:1024px) {
    .vm-alert-grid-col.-right {
        width: 35%;
        flex: 1 0 35%;
        text-align: center;
        white-space: nowrap
    }
}

.vm-alert-actions {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start
}

@media (min-width:1024px) {
    .vm-alert-actions {
        justify-content: flex-end
    }
}

.vm-alert-action {
    margin: 0 8px 0 0
}

@media (min-width:1024px) {
    .vm-alert-action {
        margin: 0 32px 0 0
    }
}

.vm-alert-action:last-child {
    margin: 0
}

.vm-backline {
    position: relative
}

.vm-backline-items {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 500px;
    overflow: hidden;
    mix-blend-mode: normal;
    opacity: .6
}

@media screen and (orientation:landscape) {
    .vm-backline-items {
        min-height: 800px
    }
}

.vm-backline-img {
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vw
}

@media (min-width:768px) {
    .vm-backline-img {
        width: 50vw;
        height: 40vw
    }
}

.vm-backline-img.-v1 {
    top: -10vw;
    left: -50vw;
    transform: rotate(-40deg)
}

@media (min-width:768px) {
    .vm-backline-img.-v1 {
        top: -5vw;
        left: -10vw
    }
}

.vm-backline-img.-v2 {
    top: -20vw;
    right: -40vw;
    transform: rotate(45deg)
}

@media (min-width:768px) {
    .vm-backline-img.-v2 {
        top: -15vw;
        right: -5vw;
        transform: rotate(35deg)
    }
}

.vm-backline-img.-v3 {
    bottom: -20vw;
    right: -40vw;
    transform: rotate(125deg)
}

@media (min-width:768px) {
    .vm-backline-img.-v3 {
        bottom: -15vw;
        right: -15vw;
        transform: rotate(125deg)
    }
}

.vm-backline-img.-v4 {
    bottom: -25vw;
    left: -40vw;
    transform: rotate(-120deg)
}

@media (min-width:768px) {
    .vm-backline-img.-v4 {
        bottom: -20vw;
        left: -15vw;
        transform: rotate(-125deg)
    }
}

.vm-backline-img svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    stroke: #fff;
    stroke-width: 25;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center
}

@media (min-width:768px) {
    .vm-backline-img svg {
        stroke-width: 40
    }
}

.vm-cookie-header {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    top: 0;
    left: 0;
    align-items: flex-end;
    width: 100%;
    padding: 35px 30px 10px 0;
    background-color: #fff;
    z-index: 1
}

@media (min-width:768px) {
    .vm-cookie-header {
        padding: 50px 30px 10px 0
    }
}

@media (min-width:1600px) {
    .vm-cookie-header {
        padding: 50px 45px 5px 0
    }
}

.vm-cookie-header h2 {
    color: #21212f;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px
}

@media (min-width:1600px) {
    .vm-cookie-header h2 {
        font-weight: 500;
        font-size: 32px;
        line-height: 54px
    }
}

.vm-cookie-text {
    margin: 0 0 16px
}

.vm-cookie-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px
}

@media (min-width:1600px) {
    .vm-cookie-text p {
        font-size: 16px;
        line-height: 28px
    }
}

.vm-cookie-action {
    margin: 0 0 32px;
    white-space: nowrap
}

.vm-cookie-action>* {
    margin: 0 10px 0 0
}

@media (min-width:768px) {
    .vm-cookie-action>* {
        margin: 0 16px 0 0
    }
}

.vm-cookie-item {
    position: relative;
    margin: 0 0 16px;
    padding: 0 0 0 56px
}

@media (min-width:1600px) {
    .vm-cookie-item {
        margin: 0 0 24px
    }
}

.vm-cookie-item:last-child {
    margin: 0
}

.vm-cookie-checkbox {
    position: absolute;
    top: 2px;
    left: 0
}

.vm-cookie-title {
    margin: 0 0 8px
}

.vm-cookie-title h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px
}

.vm-cookie-info p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px
}

@media (min-width:1600px) {
    .vm-cookie-info p {
        font-size: 16px;
        line-height: 28px
    }
}

.vm-cookie-foot {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 16px 0;
    z-index: 1;
    background-color: #fff
}

.vm-hero {
    position: relative
}

.vm-hero-content {
    display: flex;
    min-height: 500px;
    align-items: center;
    justify-content: center;
    padding: 112px 0 60px
}

@media (min-width:768px) {
    .vm-hero-content {
        padding: 218px 0 90px
    }
}

@media (min-width:1024px) {
    .vm-hero-content {
        padding: 120px 0 75px
    }
}

@media (min-width:1200px) {
    .vm-hero-content {
        padding: 120px 0 80px
    }
}

@media (min-width:1600px) {
    .vm-hero-content {
        padding: 190px 0 95px
    }
}

.vm-hero-header {
    width: 240px;
    margin: 0 auto 32px
}

@media (min-width:768px) {
    .vm-hero-header {
        width: 468px
    }
}

@media (min-width:1600px) {
    .vm-hero-header {
        width: 645px;
        margin: 0 auto 56px
    }
}

.vm-hero-header h1 {
    color: #21212f;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 90%;
    text-align: center
}

@media (min-width:768px) {
    .vm-hero-header h1 {
        font-size: 72px
    }
}

@media (min-width:1600px) {
    .vm-hero-header h1 {
        font-weight: 500;
        font-size: 120px
    }
}

.vm-hero-header mark {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    padding: 3px 20px 10px;
    margin: 10px auto 0;
    border-radius: 100px;
    color: #21212f;
    background: #cdf348;
    background-size: cover;
    background-position: center
}

@media (min-width:768px) {
    .vm-hero-header mark {
        position: relative;
        height: 90px;
        margin: 16px auto 0;
        padding: 6px 30px 19px
    }
}

@media (min-width:1600px) {
    .vm-hero-header mark {
        height: 143px;
        margin: 24px auto 0;
        padding: 8px 40px 27px
    }
}

.vm-hero-text {
    width: 240px;
    margin: 0 auto 32px
}

@media (min-width:768px) {
    .vm-hero-text {
        width: 468px
    }
}

@media (min-width:1600px) {
    .vm-hero-text {
        width: 996px;
        margin: 0 auto 48px
    }
}

.vm-hero-text p {
    color: #21212f;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    text-align: center
}

@media (min-width:1600px) {
    .vm-hero-text p {
        font-size: 32px
    }
}

.vm-hero-action {
    margin: 0 0 60px;
    text-align: center
}

@media (min-width:1024px) {
    .vm-hero-action {
        margin: 0 0 100px
    }
}

@media (min-width:1024px) {
    .vm-hero-action {
        margin: 0 0 80px
    }
}

@media (min-width:1600px) {
    .vm-hero-action {
        margin: 0 0 130px
    }
}

.vm-hero-items {
    position: relative;
    display: block;
    width: 280px;
    height: 620px;
    margin: auto
}

@media (min-width:768px) {
    .vm-hero-items {
        width: 608px;
        height: 503px
    }
}

@media (min-width:1024px) {
    .vm-hero-items {
        width: 665px;
        height: 550px
    }
}

@media (min-width:1200px) {
    .vm-hero-items {
        width: 725px;
        height: 600px
    }
}

@media (min-width:1600px) {
    .vm-hero-items {
        width: 966px;
        height: 800px
    }
}

.vm-hero-item.-v1 {
    position: relative;
    top: 115px;
    width: 210px;
    height: 455px;
    margin: auto;
    z-index: 1
}

@media (min-width:768px) {
    .vm-hero-item.-v1 {
        top: 0;
        width: 224px;
        height: 485px
    }
}

@media (min-width:1024px) {
    .vm-hero-item.-v1 {
        width: 245px;
        height: 530px
    }
}

@media (min-width:1200px) {
    .vm-hero-item.-v1 {
        width: 267px;
        height: 580px
    }
}

@media (min-width:1600px) {
    .vm-hero-item.-v1 {
        width: 355px;
        height: 771px
    }
}

.vm-hero-item.-v2 {
    position: absolute;
    display: block;
    top: 40px;
    width: 200px;
    height: auto;
    border-radius: 10px;
    overflow: hidden
}

@media (min-width:768px) {
    .vm-hero-item.-v2 {
        top: 80px;
        width: 250px;
        border-radius: 25px
    }
}

@media (min-width:1024px) {
    .vm-hero-item.-v2 {
        top: 117px;
        width: 273px;
        border-radius: 26px
    }
}

@media (min-width:1200px) {
    .vm-hero-item.-v2 {
        top: 127px;
        width: 297px;
        border-radius: 30px
    }
}

@media (min-width:1600px) {
    .vm-hero-item.-v2 {
        top: 170px;
        width: 396px;
        border-radius: 40px
    }
}

.vm-hero-item.-v3 {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    width: 204px;
    height: 131px
}

@media (min-width:768px) {
    .vm-hero-item.-v3 {
        width: 271px;
        height: 174px
    }
}

@media (min-width:1024px) {
    .vm-hero-item.-v3 {
        width: 295px;
        height: 190px
    }
}

@media (min-width:1200px) {
    .vm-hero-item.-v3 {
        width: 322px;
        height: 207px
    }
}

@media (min-width:1600px) {
    .vm-hero-item.-v3 {
        width: 430px;
        height: 277px
    }
}

.vm-hero-item.-v4 {
    position: absolute;
    display: block;
    top: 0;
    right: -20px;
    width: 78px;
    height: 78px;
    z-index: 1
}

@media (min-width:768px) {
    .vm-hero-item.-v4 {
        top: 45px;
        right: 0;
        width: 135px;
        height: 135px
    }
}

@media (min-width:1024px) {
    .vm-hero-item.-v4 {
        top: 65px;
        width: 148px;
        height: 148px
    }
}

@media (min-width:1200px) {
    .vm-hero-item.-v4 {
        top: 80px;
        width: 162px;
        height: 162px
    }
}

@media (min-width:1600px) {
    .vm-hero-item.-v4 {
        top: 100px;
        width: 216px;
        height: 216px
    }
}

.vm-hero-item img {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center
}

.vm-feature-content {
    padding: 0 0 24px;
}

@media (min-width:768px) {
    .vm-feature-content {
        padding: 30px 0 24px;
    }
}

@media (min-width:1024px) {
    .vm-feature-content {
        padding: 40px 0 24px;
    }
}

@media (min-width:1200px) {
    .vm-feature-content {
        padding: 80px 0 24px;
    }
}

@media (min-width:1600px) {
    .vm-feature-content {
        padding: 110px 0 24px;
    }
}

.vm-feature-fill {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90%;
    border-radius: 32px;
    background-color: #21212f
}

@media (min-width:1024px) {
    .vm-feature-fill {
        border-radius: 60px
    }
}

.vm-feature-grid {
    position: relative;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 33px 0;
    padding: 0 40px 50px
}

@media (min-width:768px) {
    .vm-feature-grid {
        gap: 56px 0;
        padding: 0 40px 50px
    }
}

@media (min-width:1024px) {
    .vm-feature-grid {
        grid-template-columns: 1fr 346px;
        gap: 0 50px;
        padding: 0 60px 60px;
        align-items: flex-end
    }
}

@media (min-width:1200px) {
    .vm-feature-grid {
        grid-template-columns: 1fr 386px;
        gap: 0 106px;
        padding: 0 80px 80px
    }
}

@media (min-width:1600px) {
    .vm-feature-grid {
        grid-template-columns: 1fr 486px;
        gap: 0 126px
    }
}

.vm-feature-grid-col {
    position: relative;
    grid-column: auto/span 1
}

.vm-feature-grid-col.-right {
    order: 1
}

@media (min-width:1024px) {
    .vm-feature-grid-col.-right {
        order: 2
    }
}

.vm-feature-grid-col.-left {
    order: 2
}

@media (min-width:1024px) {
    .vm-feature-grid-col.-left {
        order: 1
    }
}

.vm-feature-header {
    position: relative;
    margin: 0 0 24px
}

@media (min-width:1600px) {
    .vm-feature-header {
        margin: 0 0 45px
    }
}

.vm-feature-header h2 {
    position: relative;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 110%
}

@media (min-width:768px) {
    .vm-feature-header h2 {
        font-size: 56px;
        line-height: 125%
    }
}

@media (min-width:1600px) {
    .vm-feature-header h2 {
        font-size: 60px
    }
}

.vm-feature-header h2 mark {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 16px 12px;
    margin: 2px 0 0;
    gap: 10px;
    height: 46px;
    background: #cdf348;
    color: #21212f;
    border-radius: 100px;
    cursor: none
}

@media (min-width:768px) {
    .vm-feature-header h2 mark {
        padding: 2px 20px 12px;
        height: 70px
    }
}

@media (min-width:1600px) {
    .vm-feature-header h2 mark {
        height: 80px
    }
}

.vm-feature-text p {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%
}

@media (min-width:1024px) {
    .vm-feature-text p {
        font-size: 20px
    }
}

@media (min-width:1600px) {
    .vm-feature-text p {
        font-size: 24px
    }
}

.vm-feature-img {
    width: 240px;
    height: 294px;
    margin: auto;
    border-radius: 32px;
    overflow: hidden
}

@media (min-width:768px) {
    .vm-feature-img {
        width: 608px;
        height: 430px;
        border-radius: 40px
    }
}

@media (min-width:1024px) {
    .vm-feature-img {
        width: 346px;
        height: 430px
    }
}

@media (min-width:1200px) {
    .vm-feature-img {
        width: 386px;
        height: 480px
    }
}

@media (min-width:1600px) {
    .vm-feature-img {
        width: 486px;
        height: 604px
    }
}

.vm-feature-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top
}

@media (min-width:768px) {
    .vm-feature-img img {
        -o-object-position: 50% 25%;
        object-position: 50% 25%
    }
}

@media (min-width:1024px) {
    .vm-feature-img img {
        -o-object-position: center;
        object-position: center
    }
}



